

/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root{
    --header-height: 3rem;
    --nav-width: 68px;

    /*===== Colors =====*/
    --first-color: white;
    --first-color-light: white;
    --white-color: #0D5C63;

    /*===== Font and typography =====*/
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;

    /*===== z index =====*/
    --z-fixed: 100;
}

/* Icon */

.i-dashboard {
    background: url("../../img/icon/icon-admin/dashboard.svg") no-repeat;
    display: inline-block;
    background-size: cover;
    width: 24px;
    height: 24px;
}

.i-email {
    background: url("../../img/icon/icon-admin/email.svg") no-repeat;
    display: inline-block;
    background-size: cover;
    width: 24px;
    height: 24px;
}

.i-category {
    background: url("../../img/icon/icon-admin/category.svg") no-repeat;
    display: inline-block;
    background-size: cover;
    width: 24px;
    height: 24px;
}

.i-chat {
    background: url("../../img/icon/icon-admin/chat.svg") no-repeat;
    display: inline-block;
    background-size: cover;
    width: 24px;
    height: 24px;
}

.i-e-commerse {
    background: url("../../img/icon/icon-admin/e-commerse.svg") no-repeat;
    display: inline-block;
    background-size: cover;
    width: 24px;
    height: 24px;
}

.i-help {
    background: url("../../img/icon/icon-admin/help.svg") no-repeat;
    display: inline-block;
    background-size: cover;
    width: 24px;
    height: 24px;
}

.i-home {
    background: url("../../img/icon/icon-admin/home.svg") no-repeat;
    display: inline-block;
    background-size: cover;
    width: 24px;
    height: 24px;
}

.i-invoice {
    background: url("../../img/icon/icon-admin/invoice.svg") no-repeat;
    display: inline-block;
    background-size: cover;
    width: 24px;
    height: 24px;
}

.i-landing-page {
    background: url("../../img/icon/icon-admin/landing-page.svg") no-repeat;
    display: inline-block;
    background-size: cover;
    width: 24px;
    height: 24px;
}

.i-list {
    background: url("../../img/icon/icon-admin/list.svg") no-repeat;
    display: inline-block;
    background-size: cover;
    width: 24px;
    height: 24px;
}

.i-m-user {
    background: url("../../img/icon/icon-admin/m-user.svg") no-repeat;
    display: inline-block;
    background-size: cover;
    width: 24px;
    height: 24px;
}

.i-order {
    background: url("../../img/icon/icon-admin/order.svg") no-repeat;
    display: inline-block;
    background-size: cover;
    width: 24px;
    height: 24px;
}

.i-payment {
    background: url("../../img/icon/icon-admin/payment.svg") no-repeat;
    display: inline-block;
    background-size: cover;
    width: 24px;
    height: 24px;
}

.i-product {
    background: url("../../img/icon/icon-admin/product.svg") no-repeat;
    display: inline-block;
    background-size: cover;
    width: 24px;
    height: 24px;
}

.i-promo {
    background: url("../../img/icon/icon-admin/promo.svg") no-repeat;
    display: inline-block;
    background-size: cover;
    width: 24px;
    height: 24px;
}

.i-profile-info {
    background: url("../../img/icon/icon-admin/profile-info.svg") no-repeat;
    display: inline-block;
    background-size: cover;
    width: 24px;
    height: 24px;
}

.i-profile-logout {
    background: url("../../img/icon/icon-admin/profile-logout.svg") no-repeat;
    display: inline-block;
    background-size: cover;
    width: 24px;
    height: 24px;
}

.i-profile-setting {
    background: url("../../img/icon/icon-admin/profile-setting.svg") no-repeat;
    display: inline-block;
    background-size: cover;
    width: 24px;
    height: 24px;
}

.i-profile-user {
    background: url("../../img/icon/icon-admin/profile-user.svg") no-repeat;
    display: inline-block;
    background-size: cover;
    width: 24px;
    height: 24px;
}

.i-arrow {
    background: url("../../img/icon/icon-admin/arrow.svg") no-repeat;
    display: inline-block;
    background-size: cover;
    width: 24px;
    height: 24px;
}

.ip-info {
    background: url("../../img/icon/icon-admin/profile-info.svg") no-repeat;
    display: inline-block;
    background-size: cover;
    width: 24px;
    height: 24px;
}

.ip-logout {
    background: url("../../img/icon/icon-admin/profile-logout.svg") no-repeat;
    display: inline-block;
    background-size: cover;
    width: 24px;
    height: 24px;
}

.ip-setting {
    background: url("../../img/icon/icon-admin/profile-setting.svg") no-repeat;
    display: inline-block;
    background-size: cover;
    width: 24px;
    height: 24px;
}

.ip-user {
    background: url("../../img/icon/icon-admin/profile-user.svg") no-repeat;
    display: inline-block;
    background-size: cover;
    width: 24px;
    height: 24px;
}

/*===== BASE =====*/
*,::before,::after{
    box-sizing: border-box;
}

body{
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
}

a{
    text-decoration: none;
}

/*===== HEADER =====*/
.header{
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transition: .5s;
}

.header__toggle{
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer;
}

.header__img{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}

.header__img img{
    width: 40px;
}

/*===== NAV =====*/
.l-navbar{
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: #0D5c63;
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed);
    
}

.nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
    
}

.nav::-webkit-scrollbar {
    display: none;
}

.nav {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.nav__logo, .nav__link{
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1.5rem;
    padding: .5rem 0 .5rem 1.5rem;
}

.nav__logo i {
    background: url("../../img/icon/Shop_duotone.svg") no-repeat;
    width: 24px;
    height: 24px;
}

.nav__logo-name{
    vertical-align: middle;
    color: white;
    font-weight: 700;
    font-size: 20px;
}

.nav__link{
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1rem;
    transition: .3s;
}

.nav__link:hover{
    color: white;
}


.nav__icon{
    font-size: 1.25rem;
}

/*Show navbar movil*/
.show{
    left: 0;
}

/*Add padding body movil*/
.body-pd{
    padding-left: calc(var(--nav-width) + 1rem);
}

/*Active links*/
.active{
    color: white;
    border-radius: 10px;
    background: #54AcB1;
}

.active::before{
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color);
}



.accordion {
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .accordion-name {
      color: #CCD2E3;
      font-size: 15px;
      font-weight: 600;
  }

  /* i .i-arrow::before {
    transition: transfrom .2s ease;
    transform: rotate(0);
}
i .rotate.i-arrow::before {
    transform: rotate(180deg);
} */
/* 
.accordion .nav__link i.i-arrow::before {
    transition: transfrom .2s ease;
    transform: rotate(0);
}
.accordion .nav__link i.rotate.i-arrow::before {
    transition: transfrom .2s ease;
    transform: rotate(180deg);
}

 */
 
 .rotate{
     transform: rotate(-90deg);
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.rotate.down{
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

/* User Profile */

.action {
    position: fixed;
    top: 20px;
    right: 30px;
  }
  
  .action .profile {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
  }
  
  .action .profile img {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 50%;
    object-fit: cover;
  }
  
  .action .menu {
    position: absolute;
    top: 120px;
    right: -10px;
    padding: 10px 20px;
    background: #ff5d94;
    width: 200px;
    box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
  }
  
  .action .menu.active {
    top: 80px;
    visibility: visible;
    opacity: 1;
  }
  
  .action .menu::before {
    content: "";
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
  }
  
  .action .menu h3 {
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    color: #555;
    line-height: 1.5em;
  }
  
  .action .menu h3 span {
    font-size: 14px;
    color: #cecece;
    font-weight: 300;
  }
  
  .action .menu ul li {
    list-style: none;
    padding: 16px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
  }
  
  .action .menu ul li img {
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;
  }
  
  .action .menu ul li:hover img {
    opacity: 1;
  }
  
  .action .menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.5s;
  }
  
  .action .menu ul li:hover a {
    color: #ff5d94;
  }


  
/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px){
    body{
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem);
    }

    .header{
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
    }

    .header__img{
        width: 40px;
        height: 40px;
    }

    .header__img img{
        width: 45px;
    }

    .l-navbar{
        left: 0;
        padding: 1rem 1rem 0 0;
    }

    /*Show navbar desktop*/
    .show{
        width: calc(var(--nav-width) + 156px);
    }

    /*Add padding body desktop*/
    .body-pd{
        padding-left: calc(var(--nav-width) + 188px);
    }
}


